 /* excursao 10
*/

 {
    font-family: Trebuchet;
  }


body{
  font-size:16px;
  background-color: black;
}

.images {
  align-items: center;
}

p {
  color: yellow;
}

.active {
  color: black;
}

img {
  margin-top: -1px;
  border-radius: 20px;
  background-size: 150%;
}

.v {
  background-color: pink;
  image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/excursion/images/phone.png");
}

h1 {
  color: gray;
  padding: 50px;
  background-color: red;
  background-image: image("trenneIndexs.jpg")
}
h2 {
  color: green;
}

.mundi {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  color: blue;
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
  padding: 10px;
  margin: 10px;

}
